{{ define "home" }}
{{ template "header" }}
<a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar empleado</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td>Oscar</td>
                    <td>correo@correo.com</td>
                    <td>correo@correo.com</td>
                </tr>
                <tr>
                        <td scope="row"></td>
                    <td>Oscar</td>
                    <td>correo@correo.com</td>
                    <td>correo@correo.com</td>
                </tr>
            </tbody>
        </table>
{{ template "footer" }}
{{ end }}